@using Microsoft.AspNetCore.Http
@using FirebaseLoginAuth.Controllers
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
    var hideFooter = false;

    // Check if the current page is SignIn, Registration, or ForgotPassword
    var currentPage = httpContext.Request.Path;
    if (currentPage == "/Home/SignIn" || currentPage == "/Home/Registration" || currentPage == "/Home/ForgotPassword")
    {
        hideFooter = true;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirebaseLoginAuth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirebaseLoginAuth.styles.css" asp-append-version="true" />
    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>

<style>
    /* Footer Styles */
    footer {
        background-color: #2c3e50;
        color: #ffffff;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-top: 100px;
        position: absolute;
        width: 100%;
    }

    .container-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

     /* Sidebar Styles */
     /* Move the sidebar to the left of the page */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

        .sidebar ul {
            list-style-type: none; /* Remove bullets from list items */
            padding: 0; /* Remove default padding */
            margin: 0; /* Remove default margin */
        }

/* Style for the close button */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style for sidebar links */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Change color of links on hover */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Open the sidebar when the button is clicked */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

    /* Style the search button */
    .search-button {
        background-color: orange; /* Orange background color */
        border: none;
        height:51px;
        margin-left: -24px;
        color: black;
        padding: 8px 15px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

        .search-button:hover {
            background-color: #e67300; /* Darker shade of orange on hover */
        }

        /* Style the search icon */
        .search-button i {
            font-size: 18px;
        }
/* Position the content to the right of the sidebar */
#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 0;
}

   

    .search-input {
        height: 50px; /* Increase input height */
        border-radius: 8px 0 0 8px; /* Add rounded corners to inputs */
        border: 1px solid #ccc; /* Add a border for better visibility */
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(19, 25, 33, 1);
        padding: 10px;
    }

    .website-name {
        font-size: 24px;
        font-weight: bold;
    }

    .cart-icon {
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
    }

    .navbar {
        padding-top: 0.5rem; /* Adjust the top padding */
        padding-bottom: 0.5rem; /* Adjust the bottom padding */
        line-height: 0.1; /* Adjust the line height */
    }

    .search-form {
        width: 60%; /* Adjust as needed */
    }

    .cart-count {
        margin-left: 5px;
    }



/* Add media query for smaller screens */
@@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

</style>
<body>

    <div class="search-container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; font-family: 'Arial Black', sans-serif; font-size: 24px; text-decoration: none;"> BookIt.com</a>

        <form asp-controller="ProductGallery" asp-action="SearchBooks" method="post" class="search-form">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control search-input" id="searchInput" name="searchInput" placeholder="Search for books" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                    </button>
                </div>
            </div>

        </form>

        @{
            // Check if ViewData["CartCount"] is not null and can be cast to int
            var cartCount = ViewData["CartCount"] != null ? (int)ViewData["CartCount"] : 0;
        }

        <div class="cart-icon">
            @{
                // Check if the user is signed in
                if (string.IsNullOrEmpty(httpContext.Session.GetString("_UserId")))
                {
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SignIn">
                        <i class="fa fa-shopping-cart" style="color: white; font-size: 20px;"></i>
                        <span class="cart-count" style="color: white; font-size: 16px;">@ViewData["CartCount"]</span>
                    </a>
                }
                else
                {
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Cart">
                        <i class="fa fa-shopping-cart" style="color: white; font-size: 20px;"></i>
                        <span class="cart-count" style="color: white; font-size: 16px;">@ViewData["CartCount"]</span>
                    </a>
                }
            }
        </div>



    </div>

  
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background: rgba(35,47,62,255);">
            <div class="container-fluid">
                <!-- Page Content -->
                <div id="main">
                    <button style="color: white; font-weight: bold;" class="openbtn" onclick="openNav()">&#9776;  All</button>
                    <!-- Your existing content goes here -->
                </div>
              
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item">
                            @{

                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; font-weight: bold;">Home</a>
                            }
                        </li>
                      

                        <li class="nav-item">
                            @{

                                if (httpContext != null)
                                {
                                    var userToken = httpContext.Session.GetString("_UserToken");
                                    var userType = httpContext.Session.GetString("_userType");

                                    if (!string.IsNullOrEmpty(userToken) && userType == "Admin")
                                    {
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Add_Remove_Product_Admin" style="color: white; font-weight: bold;">Add Book Product</a>
                                    }
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @{

                                if (httpContext != null)
                                {
                                    var userToken = httpContext.Session.GetString("_UserToken");
                                    var userType = httpContext.Session.GetString("_userType");

                                    if (!string.IsNullOrEmpty(userToken) && userType == "Admin")
                                    {
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="GetBooksProducts" style="color: white; font-weight: bold;">See Book Product</a>
                                    }
                                }
                            }
                        </li>

                        <li class="nav-item">
                            @{

                                if (httpContext != null)
                                {
                                    var userToken = httpContext.Session.GetString("_UserToken");
                                    var userType = httpContext.Session.GetString("_userType");

                                    if (!string.IsNullOrEmpty(userToken) && userType == "Admin")
                                    {
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="BoughtBooks" style="color: white; font-weight: bold;">Bought Books</a>
                                    }
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @{
                             
                                if (httpContext != null)
                                {
                                    var userToken = httpContext.Session.GetString("_UserToken");
                                    var userType = httpContext.Session.GetString("_userType");

                                    if (!string.IsNullOrEmpty(userToken) && userType == "Customer")
                                    {
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="BoughtItems" style="color: white; font-weight: bold;">Bought Items</a>
                                    }
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @{
                                if (httpContext != null)
                                {
                                    var userToken = httpContext.Session.GetString("_UserToken");
                               

                                    if (!string.IsNullOrEmpty(userToken) )
                                    {
                                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut" style="color: white; font-weight: bold;">Logout</a>
                                    }
                                }
                            }
                        </li>

                     

                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div class="sidebar" id="mySidebar">
        <!-- Add a close button inside the sidebar -->
        <button class="closebtn" onclick="closeNav()">
            <span style="color: black;">&times;</span>
        </button>

        <!-- Add your sidebar links -->
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            <!-- Apply styles to remove bullets -->
            <li class="nav-item">
                @{
                    <a class="nav-link" style="color: black; font-size: 16px;" asp-area="" asp-controller="Home" asp-action="Registration">Registration<span style="margin-left: 5px;">&gt;</span></a>
                }
            </li>

            <li class="nav-item">
                @{
                    <a class="nav-link" style="color: black; font-size: 16px;" asp-area="" asp-controller="Home" asp-action="SignIn">Sign In<span style="margin-left: 5px;">&gt;</span></a>
                }
            </li>

            <li class="nav-item">
                @{
                    <a class="nav-link" style="color: black; font-size: 16px;" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms And Conditions<span style="margin-left: 5px;">&gt;</span></a>
                }
            </li>
              <li class="nav-item">
                @{
                    <a class="nav-link" style="color: black; font-size: 16px;" asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy<span style="margin-left: 5px;">&gt;</span></a>
                }
            </li>
            <li class="nav-item">
                @{
                    <a class="nav-link" style="color: black; font-size: 16px;" asp-area="" asp-controller="Home" asp-action="AdChoices">Ad Choices<span style="margin-left: 5px;">&gt;</span></a>
                }
            </li>
        </ul>
    </div>



 


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!hideFooter)
    {
        <footer class="mt-5">
            <div class="container container-footer">
                <div class="text-center">
                    <a href="@Url.Action("TermsAndConditions", "Home")" style="color: #ffffff; font-size: 12px;">Terms and Conditions</a>
                </div>
                <div class="text-center">
                    <a href="@Url.Action("PrivacyPolicy", "Home")" style="color: #ffffff; font-size: 12px;">Privacy Policy</a>
                </div>
                <div class="text-center">
                    <a href="@Url.Action("AdChoices", "Home")" style="color: #ffffff; font-size: 12px;">Ad Choices</a>
                </div>
            </div>
        </footer>
    }


    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script>
        $(document).ready(function () {
            // Function to fetch cart count
            function getCartCount() {
                $.ajax({
                    url: '@Url.Action("GetCartCount", "Home")',
                    type: 'GET',
                    success: function (data) {
                        // Update cart count
                        $('.cart-count').text(data);
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(error);
                    }
                });
            }

            // Call getCartCount on page load
            getCartCount();
        });
    </script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
