@* example for valid credit card 4012 8888 8888 1881  10008 (121) 322-4343*@


@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<h2>Total Amount to Pay: $@ViewBag.TotalPrice</h2>

<div id="paypal-button-container"></div>

<div id="success-message" style="display: none;">
    Payment Successful!
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AVhu-irB2SFslCAEFBYQ2VPfOYi7ktAV0f3sve5EaYnknNVoBXsIycsL3KBzPV1HzZWksIiANgw9XU-x"></script>

<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@ViewBag.TotalPrice'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                alert('Transaction completed by ' + details.payer.name.given_name);

                // Perform payment processing here
                // Assuming payment is successful, trigger server-side processing
                var totalPrice = '@ViewBag.TotalPrice'; // Get total price from ViewBag
                var bookId = '@ViewBag.BookId'; // Get the book ID from ViewBag


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ProcessPayment", "Payment")',
                    data: { totalPrice: totalPrice, bookId: bookId },
                    success: function (response) {
                        // Handle success response, if needed
                        // For example, display a success message to the user
                        document.getElementById('success-message').style.display = 'block';
                        window.location.href = '@Url.Action("Index", "Home")';
                    },
                    error: function (xhr, status, error) {
                        // Handle error response, if needed
                        // For example, display an error message to the user
                        console.error(xhr.responseText);
                    }
                });
            });
        }
    }).render('#paypal-button-container');
</script>
