@model FirebaseLoginAuth.Models.HomeViewModel

@using Newtonsoft.Json


@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>




</head>

<style>
    body {
        background-color: rgba(227, 230, 230, 1);
        font-family: Arial, sans-serif;

    }
  
    .text-right {
        text-align: right; 
    }

   


 
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }



    .modern-card-container {
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 110%;
        background-image: url("https://images.unsplash.com/photo-1624555130581-1d9cca783bc0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        margin-right: -60px;
        margin-left: -60px;
        position: relative; 
        z-index: 1; 
        pointer-events: auto;
    }

    .modern-card3 {
        background-color: rgba(255, 255, 255, 2);
        margin-bottom: 20px;
        margin-top:200px;
    }

    .modern-card2 {
        background-color: rgba(255, 255, 255, 2);
        margin-bottom: 20px;

    }
    .modern-card {
        background-color: rgba(255, 255, 255, 2);
        margin-bottom: 20px;
        margin-right: -60px;
        margin-left: -60px;

    }

    .arrow-icon {
        position: absolute;
        top: 20px;
        font-size: 56px;
        cursor: pointer;
        z-index: 2;
        color: #666; /* Dark gray color */
    }


    .arrow-icon-left {
        left: 20px;
    }

    .arrow-icon-right {
        right: 20px;
    }

    .arrow-click-zone {
        position: absolute;
        width: 100px; 
        height: 100%; 
        top: 0;
        cursor: pointer;
    }

    .center-button {
        position: absolute;
        top: 20px; 
        left: 50%;
        transform: translateX(-50%);
        width: 500px; 
        height: 140px; 
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .specific-container {
        overflow-x: hidden;
    }

        .specific-container.hovered {
            overflow-x: auto;
        }


</style>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<!-- Display Error Message -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<div class="modern-card-container">
    <div class="arrow-icon arrow-icon-left">&lt;</div>
    <div class="arrow-icon arrow-icon-right">&gt;</div>
    <button class="center-button"></button>
    <div class="modern-card3">
        <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Science Fiction</h2>
        <div class="container specific-container">
            <div class="row" style="white-space: nowrap;">
            
                @if (Model.BestSellersScienceFiction != null && Model.BestSellersScienceFiction.Any())
                {
                    <div class="col-md-12" style="padding-right: 5px; display: inline-block;">
                        @foreach (var book in Model.BestSellersScienceFiction)
                        {
                            <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                                <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">
                                    <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                                </a>

                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>No best-selling fantasy books found.</p>
                }
            </div>
        </div>
    </div>



    <div class="modern-card2">
        <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Fantasy</h2>
        <div class="container specific-container">
            <div class="row" style="white-space: nowrap;">
            
                @if (Model.BestSellersFantasy != null && Model.BestSellersFantasy.Any())
                {
                    <div class="col-md-12" style="padding-right: 5px; display: inline-block;">
             
                        @foreach (var book in Model.BestSellersFantasy)
                        {
                            <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                                <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">

                                    <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                                </a>

                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>No best-selling fantasy books found.</p>
                }
            </div>
        </div>
    </div>
</div>



<div class="modern-card">
    <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Mystery</h2>
    <div class="container specific-container">
        <div class="row" style="white-space: nowrap;">
       
            @if (Model.BestSellersMystery != null && Model.BestSellersMystery.Any())
            {
                <div class="col-md-12" style="padding-right: 5px; display: inline-block;">

                    @foreach (var book in Model.BestSellersMystery)
                    {
                        <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                            <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">

                                <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                            </a>

                        </div>
                    }
                </div>
            }
            else
            {
                <p>No best-selling fantasy books found.</p>
            }
        </div>
    </div>
</div>


<div class="modern-card">
    <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Thriller</h2>
    <div class="container specific-container">
            <div class="row" style="white-space: nowrap;">

            @if (Model.BestSellersThriller != null && Model.BestSellersThriller.Any())
                {
                    <div class="col-md-12" style="padding-right: 5px; display: inline-block;">

                    @foreach (var book in Model.BestSellersThriller)
                        {
                        <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                            <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">

                                <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                            </a>

                        </div>
                        }
                    </div>
                }
                else
                {
                    <p>No best-selling fantasy books found.</p>
                }
            </div>
        </div>
    </div>


<div class="modern-card">
    <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Romance</h2>
    <div class="container specific-container">
            <div class="row" style="white-space: nowrap;">

            @if (Model.BestSellersRomance != null && Model.BestSellersRomance.Any())
                {
                    <div class="col-md-12" style="padding-right: 5px; display: inline-block;">

                    @foreach (var book in Model.BestSellersRomance)
                        {
                        <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                            <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">

                                <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                            </a>

                        </div>
                        }
                    </div>
                }
                else
                {
                    <p>No best-selling fantasy books found.</p>
                }
            </div>
        </div>
    </div>


<div class="modern-card">
    <h2 style="font-size: 18px; margin-bottom: 10px; font-weight: bold;">Best Sellers Books in Historical Fiction</h2>
    <div class="container specific-container">
        <div class="row" style="white-space: nowrap;">
          
            @if (Model.BestSellersHistoricalFiction != null && Model.BestSellersHistoricalFiction.Any())
            {
                <div class="col-md-12" style="padding-right: 5px; display: inline-block;">
                    @foreach (var book in Model.BestSellersHistoricalFiction)
                    {
                        <div class="card" style="width: 150px; display: inline-block; margin-right: 10px;">
                            <a href="@Url.Action("ItemSalePage", "ProductGallery", new { bookId = book.BookId })">

                                <img src="@book.ImageUrl" class="card-img-top img-thumbnail" alt="Book Image" style="max-width: 100%; max-height: 200px;">
                            </a>

                        </div>
                    }
                </div>
            }
            else
            {
                <p>No best-selling fantasy books found.</p>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var images = [
            "https://images.unsplash.com/photo-1505159940484-eb2b9f2588e2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "https://images.unsplash.com/photo-1578374173696-f8a2d504b144?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            "https://images.pexels.com/photos/626164/pexels-photo-626164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            "https://images.pexels.com/photos/7322113/pexels-photo-7322113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            "https://images.pexels.com/photos/618916/pexels-photo-618916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            "https://images.pexels.com/photos/15880865/pexels-photo-15880865/free-photo-of-birds-flying-near-gothic-cathedral.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",

         
        ];
        var currentIndex = 0;
        var container = $(".modern-card-container");
        var form1 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="Fantasy">' +
            '</form>');

        var form2 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="ScienceFiction">' +
            '</form>');

            
        var form3 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="Mystery">' +
            '</form>');

            
        var form4 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="Thriller">' +
            '</form>');

            
        var form5 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="Romance">' +
            '</form>');


        var form6 = $('<form action="/ProductGallery/SearchBooksByGenre" method="post">' +
            '<input type="hidden" name="searchInput" value="Historical Fiction">' +
            '</form>');


        // Preload Images
        for (var i = 0; i < images.length; i++) {
            $('<img/>')[0].src = images[i];
        }

        // Function to change background image
        function changeBackground() {
            container.css("background-image", "url('" + images[currentIndex] + "')");
        }

        // Initialize background image
        changeBackground();

        // Handle click on left arrow
        $(".arrow-icon-left").click(function () {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            changeBackground();
        });

        // Handle click on right arrow
        $(".arrow-icon-right").click(function () {
            currentIndex = (currentIndex + 1) % images.length;
            changeBackground();
        });

        // Handle click on center button
        $(".center-button").click(function () {
            // Navigate to the search page when clicking on the center button
            if (currentIndex === 0) {
                $('body').append(form1);
                form1.submit();
            }
            if (currentIndex === 1) {
                $('body').append(form2);
                form2.submit();
            }
             if (currentIndex === 2) {
                $('body').append(form3);
                form3.submit();
            }
             if (currentIndex === 3) {
                $('body').append(form4);
                form4.submit();
            }
             if (currentIndex === 4) {
                $('body').append(form5);
                form5.submit();
            }
            if (currentIndex === 5) {
                $('body').append(form6);
                form6.submit();
            }

        });
        $(".center-button").hover(function () {
            var title = "";
            if (currentIndex === 0) {
                title = "Fantasy";
            } else if (currentIndex === 1) {
                title = "Science Fiction";
            }
            else if (currentIndex === 2) {
                title = "Mystery";
            }
            else if (currentIndex === 3) {
                title = "Thriller";
            }
            else if (currentIndex === 4) {
                title = "Romance";
            }
            else if (currentIndex === 5) {
                title = "Historical Fiction";
            }
            $(this).attr("title", title);
        });

    });


    $(document).ready(function () {
        $(".specific-container").hover(
            function () {
                $(this).addClass("hovered");
            },
            function () {
                $(this).removeClass("hovered");
            }
        );
    });
</script>
